@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
canvas{
    width: 500px;
    height: 500px;

    
    display: block;
    margin: auto;
    margin-top: 25px;
    
    
    border: 7px solid #000;

    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    
}